.language button {
    width: 31px;
    height: 21px;
    margin-right: 10px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

button.pt{
    background: url('./img/pt_flag.png') 0 0 no-repeat;
}

button.en{
    background: url('./img/en_flag.png') 0 0 no-repeat;
}

.toolbar{
    display: flex;
    justify-content: space-between;width: 100%;
    padding: 5px 20px 10px 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    background: #06683f;
}
    .language {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 10px;
    }
    .language button {
        width: 31px;
        height: 21px;margin-right: 10px;border: none;
         outline: none;
         cursor: pointer;
        }
    .language button.pt { 
        background: url('./img/pt_flag.png') 0 0 no-repeat;
        }
    .language button.en {
        background: url('./img/en_flag.png') 0 0 no-repeat;
        
    }
    .language button.active 
    {height: 26px;border-bottom: 5px solid #fff;}
    .menu { display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }
    .menu button { width: 100px;
        margin-right: 20px;
        padding: 3px;
        background: #e8f2f9;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        color: #06683f;
    }
    .menu button.active {
        background: #fff;
        color: #333;}
        
        /* \n\n@media only screen and (max-width: 568px) {\n  .toolbar {\n    padding: 5px 15px;\n  }\n\n  .menu {\n    padding: 10px 0 0;\n    -ms-flex-flow: row wrap;\n        flex-flow: row wrap;\n  }\n  \n  .menu button {\n    margin: 0 10px 10px 0;\n  }\n\n  .language {\n    -ms-flex-flow: column nowrap;\n        flex-flow: column nowrap;\n    -ms-flex-pack: start;\n        justify-content: flex-start;\n  }\n\n  .language button {\n    margin: 0 0 7px 0;\n  }\n\n  .language button:last-child { margin: 0; }\n}\n\n", ""]); */
